@CHARSET "UTF-8";

.inner {
	width: 1200px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}
td{
	height:30px;
	font-size: 22px;
	font-weight: normal;
	font-family: cursive;
	padding: 5px;
	}
.c{
	clear:both;
}
b{
	font-size: 20px;
	font-family: cursive;
	color:red;
	font-style: normal;
	padding: 6px;
}
ul {
	list-style: none;
	margin-left: 160px;
}
li{
	float:left;
	margin-top:10px;
	margin-left: 10px;
	width:25px;
	height: 25px;
	background-color: wihte;
	border:1px solid black;
	border-radius:5px;
	color:green;
	font-size: 20px;
	font-family: cursive;
	text-align: center;
}

.r{
	margin-top:-800px;
	margin-left:220px;
	float:left;
	width:80%;
	height:600px;
	/* background-color: gray; */
}

.r .content{
		margin-top:30px;
		margin-left:90px;
}
.sele{
	margin-left: 100px;
}
.sele span{
	margin-left:20px;
}
.sele select{
	width:130px;
	height:30px;
	padding-left:20px;
	font-size:20px;
}

.content{
	margin-left: 100px;
	width:900px;
	height:650px;
	border:1px sliod gray;
	background-color: white;
}
