.inner {
	width: 1200px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}
td{
	text-align:center;
	height:50px;
	font-size: 18px;
	font-weight: normal;
	font-family: cursive;
	padding-left: 1px;
	}
.c{
	clear:both;
}
b{
	font-size: 20px;
	font-family: cursive;
	color:red;
	font-style: normal;
	padding: 6px;
}
ul {
	list-style: none;
	margin-left: 160px;
}
li{
	float:left;
	margin-top:10px;
	margin-left: 10px;
	width:25px;
	height: 25px;
	background-color: wihte;
	border:1px solid black;
	border-radius:5px;
	color:green;
	font-size: 20px;
	font-family: cursive;
	
}
label{
	text-align: center;
}
.r{
	margin-top:-810px;
	margin-left:300px;
	float:left;
	width:80%;
	height:600px;
	
	/*  background-color: red;  */
}
.switchbutton-off { background: red; color: #000000; } 
.switchbutton-on { background: green; color: #000000; } 
.switchbutton{
	widht:100px;
	height:30px
}
.r .content{
		margin-top:30px;
		margin-left:90px;
}