*{
    margin:0px;
    border:0px;
}
/*ҳ�����*/
.inner{
    width: 1300px;
    margin:0 auto;
}
p{
    text-decoration: none;
    color: black;
    padding: 1px;
    margin-top: 250px;
    margin-left: 45%;
    font-size: 30px;
    font-weight: bold;
    border-radius: 4px;
}

a{
    text-decoration: none;
    color: black;
    width: 100px;
    height: auto;
    padding: 1px;
    background-color: aquamarine;
    float: left;
    margin-left: 50px;
    width: auto;
    font-weight: bold;
    border-radius: 4px;
}

body{
    background:url("../imgs/body.jpg");
}
.c{
    clear:both ;
}
.login{
    margin-left: 35%;
    margin-top: 0%;
}

label{
	width:100px;
	height:25px;
	background-color:white;
    font-size: 20px;
}

span {
    color: red;
    font-family: cursive;
    font-style: normal;
    font-size: 20px;
}

input{
    border-radius: 3px;
    width:250px;
    height: 25px;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: gainsboro;
}


.buttons{
    margin-left: 6%;
}